.thumb{
    width: 130px;
    height: 99px;
    padding:1px;
    border:1px solid #021a40;
}

.list-head-line-link{
    font-size: 16px;
    font-weight:bold;
    color: #036dbe;
}

.shadow {
    -moz-box-shadow: 3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow: 3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

}

.list-img{
    float: left;
    margin-left: 150px;
    width: 30%;
}

.view-picture{
    width: 260px;
    height: 330px;
    padding:1px;
    border:1px solid #021a40;
}

.list-container{
    float: right;
    width:50%;
    text-align: left;
}

.list-story{
    padding-bottom: 10px;
    margin-bottom: 100px;
}

.list-categories {
    font-size: 14px;
    color: #444444;
}

.center{
    text-align: center;
    width: 90%;
}

.list-dates{
    font-size: 14px;
    color: #444444;
    margin-top: 10px;
}

.news-detail {
    font-family: Arial, Helvica, sans-serif;
}

.news-detail h1 {
    font-size: 24px;
    color: #444444;
}

.news-detail a {
    color: #036dbe;
}
.bread-crumb{
    padding-bottom: 20px;
    margin-bottom: 10px;
    font-size: 11px;
    border: #cdcdcd;
    color: #036dbe;
}

.bread-crumb ul{
    list-style: none;
}

.bread-crumb li{
    float: left;
}

.bread-crumb a{
    text-decoration: none;

}

.bread-crumb span{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
    color: #036dbe;

}

.bread-crumb-icon{
    width:20px;
    height:20px;
    background: url('../images/uidevtest-sprites.png') no-repeat;
    padding-bottom: 5px;
}
.comment{
    background-position: 0 0;
}

.share{
    background-position: -20px 0;
}

.favorite{
    background-position: -40px 0;
}

.vote-img{
    background-position: -60px 0;

}

.story {
    font-size: 14px;
    color: #444444;
}

.photo-caption{
    font-size: 14px;
    color: #444444;
    margin-left: 20%;
}

